<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings"
                  type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Picture_Toolbox.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <userSettings>
    <Picture_Toolbox.Properties.Settings>
      <setting name="API" serializeAs="String">
        <value />
      </setting>
      <setting name="s1" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="s2" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="resize" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="type" serializeAs="String">
        <value>cover</value>
      </setting>
    </Picture_Toolbox.Properties.Settings>
  </userSettings>
</configuration>